<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>students record | add </title>
</head>
<body

>
    
<h1>add records</h1>

<span><p>{{msg}}</p></span>

<form action="/view" method="post">

<label for="name">name</label>
<input type="text" name="name">

<label for="age">age</label>
<input type="text" name="age">

<label for="city">city</label>
<input type="text" name="city">

<input type="submit" value="add">

</form>
<a href="/"><button>home</button></a>
</body>
</html>