<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>students records | update</title>
</head>
<body>

    <h1>update the records</h1>

    <form action='' method="post">

        <label for="name">name</label>
        <input type="text" name="name">
        
        <label for="age">age</label>
        <input type="text" name="age">
        
        <label for="city">city</label>
        <input type="text" name="city">
        
        <input type="submit" value="add">
        
        </form>


</body>
</html>